/* setting variables to root so that all will have access */
:root{
  --base03:    #002b36;
  --base02:    #073642;
  --base01:    #586e75;
  --base00:    #657b83;
  --base0:     #839496;
  --base1:     #93a1a1;
  --base2:     #eee8d5;
  --base3:     #fdf6e3;
  --yellow:    #b58900;
  --orange:    #cb4b16;
  --red:       #dc322f;
  --magenta:   #d33682;
  --violet:    #6c71c4;
  --blue:      #268bd2;
  --cyan:      #2aa198;
  --green:     #859900;
  --eggshell: #d0cbba;
  --cardRed: #c85a58;
  --cardBlue: #539fd5;

}
/* whole page */
html, body {
  height: 100%;
  font-family: helvetica;
  margin: 0;
  color: var(--base03);
}
body {
  margin: 2rem;
  font: 12px system-ui;
  font-stretch: expanded;
  background: var(--base1);
  --redCar = 
}
body.spymaster {
  background: var(--base03);
  color: var(--base3)
}
h1 {
  padding: 0px 0px 25px 0px;
  font-family: 'Orbitron', sans-serif;
}
div {
  text-align: center;
}
/* 3 box container with Red info, Board, Blue info  */
.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 5fr 1fr;
  grid-gap: 1rem;
  align-items: center;
  max-width: 1800px;
}
/* 5x5 Card Placement */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-gap: 1rem;
  align-items: center;
  padding: 0px 10px 10px 10px;
}
/* Individual Cards */
.grid > div {
  background: var(--base3);
  color: var(--base03);
  padding: 1.5rem;
  border-radius: 1rem;
  font-size: 20px;
}
#redBoard {
  width: auto;
  height: 100%;
}
#blueBoard {
  width: 100%;
  height: 100%;  
}
.r.spymaster {
  color: white!important;
  background-color: var(--cardRed)!important;
  font-weight: bold;
}
.b.spymaster {
  color: white!important;
  background-color: var(--cardBlue)!important;
  font-weight: bold;
}
.n.spymaster {
  color: white!important;
  background-color: var(--yellow)!important;
  font-weight: bold;
}
.a.spymaster {
  color: whitesmoke;
  background-color: black;
  font-weight: bold;
} 
.R {
  color: var(--red)!important;
  background-color: var(--red)!important;
  opacity: 75%
}
.B { 
  color: var(--blue)!important;
  background-color: var(--blue)!important;
  opacity: 75%
}
.N {
  color: var(--yellow)!important;
  background-color: var(--yellow)!important;
  opacity: 75%
}  

.btn:hover {
  background-color: var(--magenta)!important;
}

.input-group-text {
  background-color: var(--base2);
}

.form-control{
  background-color: var(--eggshell);
}

.btn-light {
  background-color: var(--base3)!important;
  color: var(--base03)!important;
}

.btn-dark {
  background-color: var(--base03)!important;
  color: var(--base3)!important;
  margin: 10px auto;
  padding: 20px ;
  font-size: 250%!important;
  letter-spacing: 7px;
}
h4 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}
p {
  text-align: left;
  font-size: 20px; 
  line-height: 30px;
}