/* setting variables to root so that all will have access */
:root{
  --base03:    #002b36;
  --base02:    #073642;
  --base01:    #586e75;
  --base00:    #657b83;
  --base0:     #839496;
  --base1:     #93a1a1;
  --base2:     #eee8d5;
  --base3:     #fdf6e3;
  --yellow:    #b58900;
  --orange:    #cb4b16;
  --red:       #dc322f;
  --magenta:   #d33682;
  --violet:    #6c71c4;
  --blue:      #268bd2;
  --cyan:      #2aa198;
  --green:     #859900;
}
/* whole page */
html, body {
  height: 100%;
  font-family: helvetica;
  margin: 0;
  color: #073642;
}
body {
  margin: 2rem;
  font: 12px system-ui;
  font-stretch: expanded;
  background: #93a1a1;
  /* background: rgb(249, 240, 240); background color I was originally using*/
}
div {
  text-align: center;
}
/* 3 box container with Red info, Board, Blue info  */
.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 5fr 1fr;
  grid-gap: 1rem;
  align-items: center;
  max-width: 1800px;
}
/* 5x5 Card Placement */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  /* grid-template-columns: gives me exactly 5 columns */
  grid-gap: 1rem;
  align-items: center;
}
/* Individual Cards */
.grid > div {
  background: #fdf6e3;
  color: #073642;
  padding: 1.5rem;
  border-radius: 1rem;
  font-size: 20px;
}
/* Right hand side player information */
#redBoard {
  width: auto;
  height: 100%;
}
/* Left hand side player information */
#blueBoard {
  width: 100%;
  height: 100%;  
}
/* .r {
  color: black;
  background-color: black;
}
.b {
  color: black;
  background-color: black;
}
.n {
  color: black;
  background-color: black;
}
.a {
  color: black;
  background-color: black;
}
.R {
  color: var(--red)!important;
  background-color: var(--red)!important;
  opacity: 50%
}
.B {
  color: blue!important;
  background-color: blue!important;
  opacity: 50%
}
.N {
  color: yellow!important;
  background-color: yellow!important;
  opacity: 50%
}  */


.btn:hover {
  background-color: #2aa198;
}